@import"variable";

@font-face {
    font-family: "Apercu";
    src: url("font/apercu/apercu_regular.ttf") format("truetype");
    font-weight: 400;
   }
  
   @font-face {
    font-family: "Apercu";
    src: url("font/apercu/apercu_bold.ttf") format("truetype");
    font-weight: 800;
   }
  
   @font-face {
    font-family: "Apercu";
    src: url("font/apercu/apercu_regular_italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

body{
    margin: auto;
    font-family: "Apercu";
    font-weight: 400;
}

.SiteHeader{
    margin: 0;
    padding: 1em;
    background-color: $firstColor;
    min-height: 100px;
    
    
    &-background{
        text-align: center;
    }
    &-logo{
        margin-top: 18px;
        min-width: 5em;
        
        
    }
    &-nav-link{

        text-decoration: none;
        line-height: 25px;

    }
    
}  

 
      
#MenuBars{
    display: block;
    text-align: center;
    text-decoration: none;
    &:hover
    {
        color:red;
    }   
    &:visited
    {
        color: black;
    }

    
}
#MenuLink{
    display: none;
    text-align: center;
    &:visited
    {
        color: black;
    }
}
#MenuClose{
    display: none;
    text-align: center;
    &:visited
    {
        color: black;
    }
    


}
// --------------------------------------
// .MainContent{
//     display: flex;
//     flex-wrap: wrap;
      
//     margin-top: 30px;
//     &-mainPic{
//         width: 100%;
//         margin: 0;
//         order:1;
//     }
//     &-vigPic{
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-start;
//         width: 100%;
//         height: 25px;
//         margin: 0;
//         order:2;
//     }
//     &-ArticleInfo{
//         text-align: center;
//         width: 100%;
//         margin: 0;
//         order:3;
//     }
// }---------------------------------------

// .MainContent > figure > img{
//     width: 100%;
    
// }

// .MainContent,
// .MainContent > *{
//     border: 1px solid red;;
// }
// ------------------------newArticleCss------------------


.Article{

    &-mainPic{
        width: 100%;
        
        margin: auto;
        &-img{
            width:100%
        }
    }
    &-vigPic{
        
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        &-img{
            width:100%
        }
    }
}




@media screen and (min-width : 600px){

    #MenuBars,#MenuClose{
        display: none;
    }
    #MenuLink{
        display: inline-block;
    }
    .SiteHeader{

        display: flex;
        &-logo{

            
            width : 2px ;
        }
    }

    // .MainContent{
        
    //     &-mainPic{
    //         order:2;
    //         width:40%;
    //     }
    
    //     &-vigPic{
    //         display: flex;
    //         flex-direction: column;
    //         order:1;
    //         width:15%;  
    //         max-height: 100%;
            
    //     }
    
    //     &-ArticleInfo{
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-around;

    //         order:3 ;
    //         width:40%;
    //     }
    // }
    .Article{
        display: grid;
        grid-template-columns: 1fr 4fr 4fr;

        
        &-vigPic{
            display: flex;
            flex-direction: column;
            order: -1;
        }
    }

}

