body{
    background-color: burlywood;
}
.formulaire{

    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    background-color: aqua;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    margin : 0 auto ;
    
    
}
section h1{
    text-align: center;
        
    }

Section{

    .taches{
    
            background-color: bisque;
    }
}